// Tema de cores
$color-dark: #292929;
$color-light: #C5C5C5;
$color-theme: #771F1F;
$color-light-hl: white;
$color-theme-hl: #961E1E;

// Padronizações iniciais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: $color-dark;
}

// Base
.app {
    overflow-x: hidden;
}

// Bloco "Pesquisa"
.pesquisa {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: $color-dark;
    height: calc(50vh + 60px);
    width: 200vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: left .5s ease, top .5s ease;
    &.pesquisa_top {
        top: calc(-50vh + 60px);
    }
    &.pesquisa_left {
        left: -100vw;
    }

    .pesquisa__metade {
        flex: 1;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pesquisa__barra {
        position: relative;
        top: 0;
        background-color: transparent;
        height: 72px;
        width: 100%;
        margin: 0 24px;
        border-radius: 12px;
        display: flex;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px;
        transition: top .25s ease, box-shadow .25s ease;
        &.pesquisa__barra_foco {
            top: -8px;
            box-shadow: rgb(0, 0, 0, 0.5) 0px 8px 8px;

            .pesquisa__fundo, .pesquisa__titulo {
                background: linear-gradient(135deg, transparent, $color-light), $color-light-hl;
            }

            .pesquisa__buscar, .pesquisa__voltar {
                background: linear-gradient(135deg, transparent, $color-theme), $color-theme-hl;
            }
        }
    }

    .pesquisa__fundo {
        flex-grow: 1;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .25s ease;
    }

    .pesquisa__input {
        border: none;
        background-color: transparent;
        margin: 24px;
        width: 100%;
        color: #292929;
        font-size: 1.25rem;
        font-weight: 300;
        &:focus {
            outline: none;
        }
        &::placeholder {
            opacity: .9;
        }
    }

    .pesquisa__buscar {
        width: 72px;
        background: linear-gradient(135deg, transparent, $color-theme), $color-theme;
        border: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .25s ease;
    }
    
    .pesquisa__icone {
        height: 1.75rem;
        width: 1.75rem;
        fill: $color-light-hl;
    }

    .pesquisa__voltar {
        flex-shrink: 0;
        width: 72px;
        background: linear-gradient(135deg, transparent, $color-theme), $color-theme;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .25s ease;
    }
    
    .pesquisa__titulo {
        flex-grow: 1;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .25s ease;
        padding: 12px;
    }

    .pesquisa__texto {
        font-family: 'Roboto';
        font-weight: 700;
        color: black;
        font-size: 1.25rem;
        line-height: 1.5rem;
        max-height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
}

// Bloco "Erro"
.erro {
    min-height: 100vh;
    padding: 128px 32px 32px;
    color: $color-light;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 700;

    .erro__emote {
        font-size: 5rem;
        margin-bottom: 1.5rem;
    }

    .erro__texto {
        font-size: 1.5rem;
    }
}

// Bloco "Lista"
.lista {
    position: relative;
    width: 100%;
    padding: 104px 24px 24px;
    opacity: 1;
    transition: opacity .15s linear;
    min-height: calc(100vh - 64px);
    &.lista_transicao {
        opacity: 0;
    }
}

// Bloco "Resultado"
.resultado {
    position: relative;
    top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px;
    transition:
        top .25s ease,
        left .5s ease,
        opacity .5s ease,
        box-shadow .25s ease;
    min-height: 0;
    max-height: 800px;
    overflow: hidden;
    opacity: 1;
    float: none;
    clear: both;
    &:focus {
        outline: none;
    }
    &:hover {
        top: -8px;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 8px 8px;

        .resultado__conteudo {
            background: linear-gradient(135deg, transparent, $color-light), $color-light-hl;
        }

        .resultado__detalhes {
            background: linear-gradient(135deg, transparent, $color-theme), $color-theme-hl;
        }
    }
    &.resultado_escondido {
        min-height: 0;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        margin-top: 0;
    }
    &.resultado_ativo {
        top: -8px;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 8px 8px;
        min-height: calc(100vh - 128px);
        max-height: 1000vh;
        opacity: 1;
        pointer-events: all;
        float: none;
        clear: both;
        margin-top: 24px;

        .resultado__conteudo {
            background: linear-gradient(135deg, transparent, $color-light), $color-light-hl;
        }

        .resultado__detalhes {
            background: linear-gradient(135deg, transparent, $color-theme), $color-theme-hl;
        }

        .resultado__video {
            opacity: 1;
            pointer-events: all;
        }

        .resultado__titulo {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
        }

        .resultado__visualizacoes {
            opacity: 1;
            max-height: 3rem;
        }
    }

    .resultado__conteudo {
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 16px;
        transition: background .25s ease;
        flex-grow: 1;
    }

    .resultado__tela {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .resultado__thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .resultado__video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: none;
        border-radius: 8px;
        opacity: 0;
        pointer-events: none;
    }

    .resultado__info {
        display: flex;
        margin-top: 12px;
    }

    .resultado__imagem {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 16px;
    }

    .resultado__dados {
        flex-grow: 1;
        overflow: hidden;
    }

    .resultado__titulo {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 0.25rem;
        transition: opacity .25s ease, max-height .25s ease, margin .25s ease;
        opacity: 1;
        max-height: 4.5rem;
        overflow: hidden;
    }

    .resultado__canal {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.125rem;
    }

    .resultado__visualizacoes {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 1.375rem;
        margin-top: 0.2rem;
        transition: opacity .25s ease, max-height .25s ease;
        opacity: 0;
        max-height: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .resultado__descricao {
        font-family: 'Actor';
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin-top: 1.25rem;
    }

    .resultado__detalhes {
        border: none;
        background: linear-gradient(135deg, transparent, $color-theme), $color-theme;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        color: $color-light-hl;
        font-family: 'Roboto';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1.375rem;
        padding: 1rem 0;
        transition: background .25s ease;
        &:focus {
            outline: none;
        }
    }
}

// Bloco "Interação"
.interacao {
    width: 100%;
    padding: 0px;
    transition: opacity .25s ease, max-height .25s ease, padding .25s ease;
    opacity: 0;
    max-height: 0;
    &.interacao_ativa {
        opacity: 1;
        max-height: 4rem;
        padding: 20px;
    }

    .interacao__contagem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .interacao__metade {
        display: flex;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
    }

    .interacao__like {
        fill: $color-dark;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

    .interacao__dislike {
        fill: $color-theme;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
    }

    .interacao__numero {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.375rem;
    }

    .interacao__barra {
        display: flex;
        width: 100%;
        margin-top: 0.5rem;
    }

    .interacao__barraLike {
        height: 4px;
        width: 4px;
        background-color: $color-dark;
    }

    .interacao__barraDislike {
        height: 4px;
        width: 4px;
        background-color: $color-theme;
    }

    .interacao__barraMeio {
        height: 4px;
        width: 4px;
        background-color: transparent;
        flex: 1;
    }
}

// Bloco "Carregamento"
.carregamento {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, transparent, $color-theme), $color-theme;

    .carregamento__fim {
        color: $color-light-hl;
        font-family: 'Roboto';
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }

    .carregamento__animacao {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carregamento__ponto {
        position: relative;
        height: 16px;
        width: 16px;
        margin: 0 6px;
        border-radius: 50%;
        background-color: white;
        animation-name: carregando;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
}

@keyframes carregando {
    0% {
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px;
        top: 0;
    }
    25% {
        background: linear-gradient(135deg, transparent, $color-light), $color-light-hl;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 8px 8px;
        top: -8px;
    }
    50% {
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px;
        top: 0;
    }
    100% {
        background: linear-gradient(135deg, transparent, $color-light), $color-light;
        box-shadow: rgb(0, 0, 0, 0.5) 0px 0px 0px;
        top: 0;
    }
}